{{#each this}}
  <div class='col-12 col-6 col-sm-3'>
    <div class='box'><img
        class='img-thumbnail rounded'
        src={{src.medium}}
        alt='photo'
        {{photographer}}
        loading='lazy'
      /></div>

    <div class='d-inline-flex justify-content-center'>
      <p class='p-1'>
        {{photographer}}
      </p>
    </div>
  </div>
{{/each}}
